.main-container {
  margin-top: 88px;
  padding: 15px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  overflow: hidden;
}

.navbar {
  background-color: #ffffff;
  padding: 16px;
}



.btn-lg {
  margin: 16px;
}
