<nav class="navbar navbar-expand-lg fixed-top justify-content-between">
    <div class="container">
        <h1>{{title}}</h1>
    </div>
</nav>

<div class="container main-container">
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <div class="card-title">
                        <h5 class="text-primary">Kontaktdaten</h5>
                    </div>

                    <div class="card-text">
                        <div class="form-group">
                            <input type="email" class="form-control" [(ngModel)]="employee.name"
                                   placeholder="Vorname">
                            <small *ngIf="!employee.mail" class="form-text text-danger">Dies ist ein
                                Pflichfeld!</small>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" [(ngModel)]="employee.firstname"
                                   placeholder="Nachname">
                            <small *ngIf="!employee.mail" class="form-text text-danger">Dies ist ein
                                Pflichfeld!</small>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" [(ngModel)]="employee.mail"
                                   placeholder="E-Mail-Adresse">
                            <small *ngIf="!employee.mail" class="form-text text-danger">Dies ist ein
                                Pflichfeld!</small>
                        </div>
                    </div>

                    <div class="card-title">
                        <h5 class="text-primary">Fähigkeiten</h5>
                        <div class="justify-content-start">
                            <span class="skill-chip text-center" *ngFor="let skill of skills"
                                  (click)="skill.active = !skill.active"
                                  [ngClass]="skill.active ? 'skill-chip-active': ''">{{skill.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="footer fixed-bottom bg-white">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <button class="btn btn-lg" (click)="router.navigateByUrl('/')">Abbrechen</button>
                <button class="btn btn-lg btn-danger" (click)="save()">Speichern</button>
            </div>
        </div>
    </div>
</footer>
