<nav class="navbar navbar-expand-lg fixed-top justify-content-between">
    <a class="navbar-brand" href="#">
        <svg width="183px" height="26px" viewBox="0 0 183 26" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="logo" fill="#1b1b4b">
                    <g id="Group" transform="translate(-0.000000, 0.000000)">
                        <polygon id="Fill-1"
                                 points="33.384083 24.8623404 33.384083 6.42514737 36.6178436 6.42514737 44.5087489 18.8887263 45.000704 20.1043404 44.8971105 18.7851825 44.8971105 6.42514737 48.1048586 6.42514737 48.1048586 24.8623404 44.9742352 24.8623404 36.9801928 12.2432175 36.4622252 11.0280596 36.5918312 12.3207614 36.5918312 24.8623404"></polygon>
                        <path d="M59.281595,21.9660316 C60.7300788,21.0610491 61.5319017,19.5617158 61.5319017,18.139014 L61.5319017,17.3375754 C60.9112534,17.7768386 59.8762309,18.0874702 58.5313406,18.2941018 C56.7205077,18.5787333 55.9962658,18.7853649 55.2971237,19.2250842 C54.7024878,19.6128035 54.4181761,20.1300667 54.4181761,20.7768737 C54.4181761,22.0175754 55.1935302,22.6388386 56.7456075,22.6388386 C57.7295177,22.6388386 58.5573531,22.4057509 59.281595,21.9660316 M55.5818918,25.2502421 C52.3476748,25.2502421 50.7180165,23.6989088 50.7180165,21.2676807 C50.7180165,19.6128035 51.4427147,18.3716456 52.6584554,17.622207 C53.0723731,17.3375754 53.5127596,17.1304877 53.9262209,17.0014 C54.8051686,16.6907684 55.9177721,16.4841368 57.7806299,16.1995053 C60.4457671,15.8633298 61.506802,15.5016105 61.506802,14.2859965 C61.506802,13.0448386 60.7040663,12.2689439 58.3761786,12.2689439 C55.9177721,12.2689439 54.8051686,13.3294702 54.7024878,15.2429789 L51.2099716,15.2429789 C51.4427147,11.8552246 53.9262209,9.63154035 58.1954603,9.63154035 C59.8246623,9.63154035 61.0664155,9.83862807 62.0498693,10.2778912 C63.9903082,11.1053298 64.7661187,12.6826632 64.7661187,14.8292596 L64.7661187,24.8625228 L62.0238569,24.8625228 L61.6615077,21.8884877 C60.6524978,23.8279965 58.6609466,25.2502421 55.5818918,25.2502421"
                              id="Fill-2"></path>
                        <path d="M67.897381,24.8623404 L67.897381,9.99353333 L70.7692489,9.99353333 L71.0791167,12.9671123 C71.8818524,10.9245158 73.5630793,9.63135789 76.1246229,9.63135789 C79.7202763,9.63135789 81.6356155,12.010586 81.6356155,15.7085158 L81.6356155,24.8623404 L78.2202239,24.8623404 L78.2202239,16.5359544 C78.2202239,14.1051825 77.4435007,12.579393 75.0120195,12.579393 C72.4764883,12.579393 71.3123162,14.337814 71.3123162,17.1047614 L71.3123162,24.8623404 L67.897381,24.8623404 Z"
                              id="Fill-4"></path>
                        <path d="M95.683809,17.6736596 L95.683809,17.3374842 C95.683809,14.2859053 94.1057192,12.5279404 91.6482254,12.5279404 C89.2158314,12.5279404 87.5861731,14.1828175 87.5861731,17.3374842 L87.5861731,17.6736596 C87.5861731,20.6216947 89.0871382,22.2765719 91.622213,22.2765719 C94.1833002,22.2765719 95.683809,20.6216947 95.683809,17.6736596 M84.1196693,17.7252035 L84.1196693,17.3374842 C84.1196693,15.6821509 84.4555496,14.2603614 85.1026668,13.1222912 C86.3959885,10.8470632 88.6987766,9.63144912 91.622213,9.63144912 C93.1231781,9.63144912 94.3904873,9.9160807 95.5030908,10.5364316 C97.77941,11.7520456 99.125213,14.0532737 99.125213,17.3374842 L99.125213,17.7252035 C99.125213,19.3545368 98.8144324,20.6992386 98.193784,21.8108526 C96.900006,24.060993 94.6487865,25.2501509 91.622213,25.2501509 C86.810819,25.2501509 84.1196693,22.5867474 84.1196693,17.7252035"
                              id="Fill-6"></path>
                        <path d="M113.018336,22.897014 C112.08645,24.3192596 110.534829,25.2502421 108.180473,25.2502421 C103.678947,25.2502421 101.22054,22.5868386 101.22054,16.6652246 L101.22054,14.8808035 C101.22054,8.98518947 104.273583,6.08869825 109.293076,6.08869825 C113.898196,6.08869825 116.484839,8.54547018 116.692026,12.812207 L113.147942,12.812207 C113.121929,12.1138561 112.966767,11.5450491 112.682455,10.9502421 C112.164031,9.83862807 111.155021,9.11427719 109.241051,9.11427719 C106.110428,9.11427719 104.687957,11.027786 104.687957,15.0103474 L104.687957,16.5356807 C104.661488,20.5182421 106.084415,22.1986632 109.137458,22.1986632 C110.120912,22.1986632 110.87071,22.0175754 111.466258,21.6303123 C112.655987,20.8799614 113.173041,19.5352596 113.199054,18.1134702 L108.697528,18.1134702 L108.697528,15.1909789 L116.769607,15.1909789 L116.769607,24.8625228 L114.208064,24.8625228 L113.949765,20.4922421 C113.76859,21.3456807 113.457809,22.1731193 113.018336,22.897014"
                              id="Fill-8"></path>
                        <path d="M119.900642,24.862386 L123.341589,24.862386 L123.341589,9.99357895 L119.900642,9.99357895 L119.900642,24.862386 Z M119.408687,6.1405614 C119.408687,4.48568421 120.159397,3.91642105 121.659906,3.91642105 C123.160871,3.91642105 123.910213,4.48568421 123.910213,6.1405614 C123.910213,7.74389474 123.185971,8.39024561 121.659906,8.39024561 C120.030248,8.39024561 119.408687,7.8474386 119.408687,6.1405614 L119.408687,6.1405614 Z"
                              id="Fill-10"></path>
                        <path d="M134.310774,21.9660316 C135.76017,21.0610491 136.561993,19.5617158 136.561993,18.139014 L136.561993,17.3375754 C135.940888,17.7768386 134.906322,18.0874702 133.560063,18.2941018 C131.749686,18.5787333 131.025444,18.7853649 130.327215,19.2250842 C129.731666,19.6128035 129.446898,20.1300667 129.446898,20.7768737 C129.446898,22.0175754 130.223621,22.6388386 131.775242,22.6388386 C132.758696,22.6388386 133.586075,22.4057509 134.310774,21.9660316 M130.611983,25.2502421 C127.377766,25.2502421 125.746739,23.6989088 125.746739,21.2676807 C125.746739,19.6128035 126.47235,18.3716456 127.687178,17.622207 C128.102008,17.3375754 128.541482,17.1304877 128.955856,17.0014 C129.834803,16.6907684 130.947863,16.4841368 132.810721,16.1995053 C135.475402,15.8633298 136.535524,15.5016105 136.535524,14.2859965 C136.535524,13.0448386 135.733701,12.2689439 133.405357,12.2689439 C130.947863,12.2689439 129.834803,13.3294702 129.731666,15.2429789 L126.23915,15.2429789 C126.47235,11.8552246 128.955856,9.63154035 133.224183,9.63154035 C134.853385,9.63154035 136.09605,9.83862807 137.078592,10.2778912 C139.01903,11.1053298 139.79621,12.6826632 139.79621,14.8292596 L139.79621,24.8625228 L137.053035,24.8625228 L136.690686,21.8884877 C135.681676,23.8279965 133.690125,25.2502421 130.611983,25.2502421"
                              id="Fill-12"></path>
                        <path d="M142.927244,24.8623404 L142.927244,9.99353333 L145.798199,9.99353333 L146.10898,12.9671123 C146.910803,10.9245158 148.592486,9.63135789 151.153573,9.63135789 C154.749683,9.63135789 156.664566,12.010586 156.664566,15.7085158 L156.664566,24.8623404 L153.249174,24.8623404 L153.249174,16.5359544 C153.249174,14.1051825 152.473364,12.579393 150.041426,12.579393 C147.505895,12.579393 146.341267,14.337814 146.341267,17.1047614 L146.341267,24.8623404 L142.927244,24.8623404 Z"
                              id="Fill-13"></path>
                        <path d="M165.978718,24.8623404 C164.581347,24.8623404 163.495668,24.6557088 162.77097,24.3195333 C161.270461,23.5691825 160.804519,21.9403053 160.804519,18.9147263 L160.804519,12.9931123 L157.907095,12.9931123 L157.907095,10.1230772 L159.225973,10.1230772 C159.717928,10.1230772 160.054264,10.0710772 160.287007,9.96753333 C160.778963,9.73490175 160.934125,9.16609474 161.011706,7.9504807 C161.037718,7.30412982 161.063731,6.42514737 161.063731,5.98542807 L163.961155,5.98542807 L163.961155,9.99353333 L167.893145,9.99353333 L167.893145,12.9931123 L163.961155,12.9931123 L163.961155,18.3459193 C163.961155,19.3289018 164.038279,20.0527965 164.167885,20.5436035 C164.400628,21.526586 165.176895,21.7076737 166.833022,21.7076737 L167.893145,21.7076737 L167.893145,24.8623404 L165.978718,24.8623404 Z"
                              id="Fill-14"></path>
                        <path d="M169.084105,19.9490246 L172.757796,19.9490246 C173.06812,21.7074456 174.283861,22.4057965 176.405474,22.4057965 C178.579112,22.4057965 179.432504,21.6814456 179.432504,20.4918316 C179.432504,20.0525684 179.250873,19.6908491 178.863881,19.4577614 C178.11317,19.0180421 176.819392,18.8369544 175.396464,18.6303228 C174.051574,18.4236912 172.680215,18.1910596 171.567611,17.5957965 C170.455464,17.0014456 169.757235,15.9929193 169.757235,14.3380421 C169.757235,11.5966386 171.800354,9.63158596 175.887963,9.63158596 C180.157659,9.63158596 182.097185,11.4675509 182.511559,14.4411298 L179.044599,14.4411298 C178.811399,12.9928842 177.828402,12.3465333 175.862407,12.3465333 C173.740793,12.3465333 173.093676,13.0968842 173.093676,14.1309544 C173.093676,14.5706737 173.274851,14.932393 173.663212,15.1654807 C174.413467,15.6052 175.733257,15.7858316 177.155728,15.9929193 C178.501531,16.1995509 179.872891,16.4326386 180.985038,17.0269895 C182.097185,17.6217965 182.795871,18.6303228 182.795871,20.2852 C182.795871,23.1552351 180.725826,25.2502877 176.327893,25.2502877 C171.748786,25.2502877 169.523579,23.4143228 169.084105,19.9490246"
                              id="Fill-15"></path>
                        <path d="M5.12126185,1.77635684e-15 L5.12126185,7.51217544 L16.6940723,7.51217544 C16.6274439,11.1681404 15.2971571,14.6252281 12.2377257,16.5533333 C10.70801,17.5504561 8.77943641,18.0157193 6.2521197,18.0157193 C3.74442643,18.0157193 1.6670798,17.5718947 -9.41469125e-14,16.6381754 L-9.41469125e-14,25.5798947 C1.19383541,25.7641754 2.45566833,25.8599649 3.79097506,25.8599649 C9.84366584,25.8599649 13.8340698,23.4665965 16.228586,19.8106316 C17.3589875,17.9491228 18.1571596,15.8221404 18.6226459,13.6281053 L19.2880175,24.8628421 L25.8723666,24.8628421 L25.8723666,1.77635684e-15 L5.12126185,1.77635684e-15 Z"
                              id="Fill-16"></path>
                    </g>
                </g>
            </g>
        </svg>
    </a>

    <a href="/login" class="nav-link text-primary">
        <fa-icon [icon]="faSignOut"></fa-icon>
    </a>
</nav>
