:host {
    $topnav-background-color: #ffffff;
    $nav-font-color: #c5d0de;
    $nav-active-background: #24272d;
    $nav-active-border-color: #165387;

    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            color: $nav-font-color;
        }
        .nav-item > a {
            color: $nav-font-color;
            &:hover {
                color: #fff;
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}
