<main class="form-signin">
    <h1 class="h3 mb-3 fw-normal text-center text-primary">Willkommen</h1>

    <div>
        <input type="email" class="form-control" placeholder="E-Mail-Adresse" [(ngModel)]="mail">
    </div>
    <div>
        <input type="password" class="form-control" placeholder="Passwort" [(ngModel)]="password">
    </div>

    <button (click)="login()" class="w-100 btn btn-danger" type="submit" style="margin-bottom: 25px">Einloggen</button>

    <div class="checkbox mb-3 text-center">
        <p class="text-primary">Du hast noch keinen Account?</p>
        <a href="/register" class="registerlink">Jetzt registrieren</a>

    </div>
</main>
