/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import '~ngx-toastr/toastr-bs4-alert';

h1 {
  font-weight: bold;
}

.skill-chip {
  border: 1px grey solid;
  border-radius: 3px;
  padding: 5px;
  margin-right: 15px;
  font-size: 0.8rem;
  cursor: pointer;
}

.skill-chip-active {
  background-color: #1b1b4b;
  color: #ffffff;
}

.no-margin{
  margin: 0;
}
