.container {
  margin-top: 56px;
  padding: 15px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  overflow: hidden;
}

.add-employee {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  cursor: pointer;
}
