<app-dashboard-header></app-dashboard-header>

<div class="container">
    <div class="row" *ngIf="employees.length < 1">
        <div class="col-12">
            <div class="card">
                <div class="card-body text-center">
                    <fa-icon [icon]="faUser" class="fa-10x"></fa-icon>
                    <h1 class="text-primary">Mitarbeiterübersicht</h1>
                    <p>Du hast noch keine Mitarbeiter angelegt!</p>
                    <button class="btn btn-lg btn-danger " (click)="addEmployee()">Mitarbeiter anlegen</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="employees.length > 0">
        <div class="col-12">
            <p class="text-primary" style="margin: 0!important;">MITARBEITER</p>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body text-center" (click)="addEmployee()">
                    <p class="text-danger add-employee">+ Neuen Mitarbeiter anlegen</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card" *ngFor="let employee of employees" style="margin-top: 15px">
                <div class="card-body">
                    <button class="btn btn-lg pull-right" (click)="editEmployee(employee)">
                        <fa-icon [icon]="faPencil"></fa-icon>
                    </button>
                    <h5 class="card-title no-margin">{{getEmployeeName(employee)}}</h5>
                    <p class="card-text">{{employee.mail}}</p>


                    <span class="skill-chip skill-chip-active text-center"
                          *ngFor="let skill of employee.skills">{{skill.name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
