
html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
  margin-top: 15%;
}

.form-group {
  margin-bottom: 25px;
}

.registerlink {
  color: #1b1b4b;
  font-weight: bold;
  text-decoration: underline #D90A56FF;
}
