<main class="form-signin">
    <h1 class="h3 mb-3 fw-normal text-center text-primary">Account erstellen</h1>

    <div class="form-group">
        <input type="email" class="form-control" [(ngModel)]="user.mail" placeholder="E-Mail-Adresse" required>
        <span *ngIf="!user.mail" class="text-danger">Dies ist ein Pflichtfeld</span>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="user.company" placeholder="Name der Firma" required>
        <span *ngIf="!user.company" class="text-danger">Dies ist ein Pflichtfeld</span>
    </div>

    <div class="form-group">
        <input type="password" class="form-control" [(ngModel)]="user.password" placeholder="Passwort" required>
        <span *ngIf="!user.password" class="text-danger">Dies ist ein Pflichtfeld</span>
    </div>

    <div class="form-group">
        <span *ngIf="password2 != user.password" class="text-danger">Die Passwörter stimmen nicht überein!</span>
        <input type="password" class="form-control" [(ngModel)]="password2" placeholder="Passwort wiederholen" required>
    </div>


    <button (click)="register()" class="w-100 btn btn-danger" type="submit"
            style="margin-bottom: 25px; margin-top: 25px">
        Registrieren
    </button>

    <div class="checkbox mb-3 text-center">
        <p class="text-primary">Du hast bereits einen Account?</p>
        <a href="/login" class="registerlink">Jetzt einloggen</a>

    </div>
</main>
